body ul li{
    margin: 0;
    padding: 0;
}

/*这是头开始*/
header {
    /*background: #949494;*/
    margin-bottom: -20px;
}

.navbar-inverse {
    background: #4b4b4b;
    border: none;
    border-radius: 0px;
}

.search_div {
    height: 36px;
    line-height: 30px;
    background: white;
    border-radius: 5px;

}

.search_input {
    color: black;
    height: 22px;
    background: white;
    outline: none;
    border: none;
    box-shadow: none
}

.search_input:focus {
    outline: none;
    box-shadow: none
}

.search_div > a {
    padding-top: 10px;
}

.navbar-header .navbar-brand img {
    width: 50px;
}

#nav01 {
    float: left;
}

#nav01 a {
    font-size: 1.1em;
    color: white;
}

#nav01 a:hover {
    color: #cbcbcb;
}

#nav01 form {
    margin-left: 550px;
}

.search_img {
    float: right;
    position: relative;
    top: -30px;
    left: 175px;
}

.dropdown {
    float: right;
}

.dropbtn {
    background-color: #4b4b4b;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    /*指针变成小手*/
    cursor: pointer;
}

/* 容器 <div> - 需要定位下拉内容 */
.dropdown {
    position: relative;
    display: inline-block;
}

/* 下拉内容 (默认隐藏) */
.dropdown-content {
    display: none;
    position: absolute;
    /*脱离文档流*/
    background-color: #4CAF50;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* 下拉菜单的链接 */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover {
    background-color: rgb(41, 31, 175)
}

/*在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}

/* 当下拉内容显示后修改下拉按钮的背景颜色 */
/*.dropd:hover .dropbtn {*/
/*background-color: blue;*/
/*}*/
/*这是头结束*/

/*这是主体开始*/
section {
    width: 100%;
    /*background: #26b245;*/
}

section .container {
    /*height: 900px;*/
    background: #d0d0d0;
}

.container-fluid {
    padding: 0;
}

section .container-fluid .top {
    width: 100%;
    height: 120px;
    background: #f7f7f7;
    border-bottom: solid 1px #aeaeae;
    line-height: 120px;
}

section .container-fluid .top img {
    width: 80px;
    margin-left: 120px;

}

section .container-fluid .top a {
    font-size: 1.3em;
    margin-left: 50px;
}

section .container-fluid .main .container {
    background: white;
}

.main .container .top1 {
    height: 60px;
    border-bottom: solid 1px #aeaeae;
}
.top1 ul{
    display: flex;
    justify-content: center;
}

.top1 ul li{
    list-style: none;
    margin: 20px 30px;
}

.fontbold{
    font-weight:bold
}





.main001 {
    display: none;
}



.main001 .left {
    width: 66%;
    /*height: 900px;*/
    /*background: yellow;*/
    margin: 40px 0;
    border-right: solid 1px #aeaeae;
    float: left;
}

.main001 .left .left1 {
    width: 95%;
    /*height: 100px;*/
}
.main001 .left .left1 ul li{
    list-style: none;
    padding: 20px 0;
    border-bottom: solid 1px #cccccc;
}

.main001 .left .left1 ul li a{
    /*text-decoration: none;*/
    color: #1abc9c;
}



.main001 .left .left2 {
    width: 95%;
    height: 250px;
}

.main001 .left .left3 {
    width: 95%;
    /*height: 100px;*/
    /*background: yellow;*/
}
.main001 .left .left3 ul li{
    list-style: none;
    padding: 20px 0;
    border-bottom: solid 1px #cccccc;
}


.main001 .left .left4 {
    width: 95%;
    /*height: 100px;*/
    /*background: yellow;*/
}
.main001 .left .left4 .likenum{
    width: 30%;
    height: 180px;
    /*background: #cccccc;*/
    float: left;
    border-right: solid 1px #cccccc;
    text-align: center;
    padding-top: 30px;
}
.main001 .left .left4 .likenum p:first-child{
    font-size: 50px;
}



.main001 .left .left4 ul{
    float: right;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    height: 100px;
}

.main001 .left .left4 ul li{
    margin: 10px;
    list-style: none;
}
.main001 .left .left4 ul li a img{
    width: 60px;
}


.main001 .right {
    width: 34%;
    height: 900px;
    /*background: greenyellow;*/
    margin: 40px 0;
    /*box-sizing: border-box;*/
    float: right;

}

.main001 .right .right1 {
    width: 84%;
    height: 200px;
    /*background: #cccccc;*/
    text-align: center;
    margin: 10px auto;
    border-bottom: solid 1px gray;
}

.right .right1 .img_head {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url("../images/touxiang.jpg");
    margin: 0 auto;
}

.right .right1 .a {
    margin-top: 10px;
}

.main001 .right .right2 {
    width: 84%;
    height: 200px;
    /*background: #565656;*/
    margin: 10px auto;
    border-bottom: solid 1px gray;
}
.main001 .right .right2 ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    /*background: yellow;*/
    margin-top: 60px;
    margin-left: -20px;
}

.main001 .right .right2 ul li{
    border-right: solid 1px gainsboro;
    padding-right: 20px;
}



.main001 .right .right3 {
    width: 84%;
    /*height: 200px;*/
    /*background: #cccccc;*/
    margin: 10px auto;
    border-bottom: solid 1px gray;
}

.main001 .right .right3 ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 20px 0;
    /*background: yellow;*/
    padding-left: 10px;
}
.main001 .right .right3 ul li{
    margin: 10px;
    /*background: yellow;*/
}






.main001 .right .right4 {
    width: 84%;
    height: 200px;
    margin: 0 auto;
    border-bottom: solid 1px gray;
    /*background: gainsboro;*/
}
.main001 .right .right4 .erweima{
    /*background: yellow;*/
    margin-top: 45px;
}



.main001 .right .right4 .erweima img {
    width: 80px;
}

.main002{
    height: 1050px;
    display: none;
    width: 100%;

}

.main003{
    height: 1050px;
    display: none;
    width: 100%;

}

.main004{
    height: 1050px;
    display: none;
    width: 100%;

}


.main005{
    height: 1050px;
    display: none;
    width: 100%;

}

.main006{
    height: 1050px;
    display: none;
    width: 100%;

}

.main_xianshi{
    display: block !important;
}

/*这是主体结束*/

/*这是footer开始*/
footer {
    width: 100%;
    height: 150px;
    background: #4b4b4b;
    box-sizing: border-box;
}

.footer_none{
    display: none !important;
}

footer .container {
    height: 150px;
    /*background: gainsboro;*/
    box-sizing: border-box;
}

footer .container .row {
    box-sizing: border-box;
}

footer .container .row .col-lg-4 {
    height: 150px;
    background: #4b4b4b;
}

footer .container .row .col-lg-4:first-child {
    text-align: center;
    line-height: 150px;

}

footer .container .row .second_child {
    text-align: center;
    line-height: 150px;
    color: white;
    font-size: 1.1em;
}

footer .container .row .col-lg-4:last-child {
    text-align: center;
    line-height: 150px;
    color: white;
    font-size: 1.1em;
}

footer .container .row .col-lg-4:last-child img {
    width: 100px;
}

/*这是footer结束*/





