.main{
    width: 600px;
    height: 400px;
    background: gainsboro;
}
.container .main .right img{
    padding: 0;
    margin: 0;
}

.container .main .left{
    width: 200px;
    height: 50px;
    background: white;
    position: relative;
    z-index: 1;
}

.ch{
    transform: translateY(-50px);
    transition-duration:1s;
    transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
}


.container .main .left_di{
    width: 200px;
    height: 50px;
    /*background: blanchedalmond;*/
    position: relative;
    z-index: 0;
    top: -50px;
}




